ul {
    display: flex;
    flex-direction: row;
}

ul li {
    margin-right: 24px;
}

ul li a {
    line-height: 65px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;
    color: #4293ca;
    display: block;
    height: 100%;
    transition: all 0.5s ease;
}

ul li:last-child a {
    color: #78C622;
}

ul li a:hover {
    opacity: .8;
}