#settings-modal {
    background: #fcfcfc;
    height: 95%;
    width: 60%;
    position: absolute;
    top: 2.5%;
    left: 0;
    box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.05);
    transition: all 0.4s ease;
    z-index: 1;
}

#settings-modal.hide {
    left: -58.5%;
}

#settings-modal.full {
    width: 97.5%;
}

#settings-modal.full.hide {
    left: -96%;
}

.close {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 24px;
    right: 24px;
}

.close svg {
    width: 16px;
    height: 16px;
}

.close svg #Utils {
    fill: #1d1d1d;
}

.modal-cnt {
    padding: 24px;
}